{% extends "base_site.html" %}
{% load i18n %}
{% block content %}
<h1>Welcome {{ user.username }}!</h1>
{% if user_group %}
you belong to 
{% for groups in user_group %}
<b>{{groups}}</b>
{% endfor%} group
{% else %}
you don't belong to any group
{% endif %}


<h3><u>Details</u></h3>
<p>First name: <b>{{ user.first_name }}</b></p>
<p>Last name: <b>{{ user.last_name }}</b></p>
<p>Email: <b>{{ user.email }}</b></p>
<p>Phone number: <b>{{ dev_obj.phone_num }}</b></p>

{% for groups in user_group %}
{% ifequal groups "aakash_user" %}
<p></p>Device serial number: <b>{{ dev_obj.serial_num }}</b></p>
{% if dev_obj.complaint_set.count %}
<p>No. of complaints: <b>{{ dev_obj.complaint_set.count}}</b> (<b><a href="/complaint/{{user.username}}">view</a></b>)</p>
{% else %}
<p>You don't have any complaints !</p>
{% endif %}
<p><a href="/complaint"><b>New complaint</b></a><p>
{% else %}
<hr>
<p></p><a href="/tech/complaints">See user's complaints</a><p>
  {% endifequal %}
  {% endfor %}
<br>
<p></p><a href="/logout">logout</a><p>

    


{% endblock %}

