{% extends "base_site.html" %}

{% block content %}
{% if count %}

<p>Your have {{count}} complaints </p>
{% else %}
<p>You don't have any complaints</p>
{% endif %}
<form action="." method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <table>
    {% for field in form %}
    <tr>
      <td>{{field.label_tag}}: {{field}}</td>
    </tr>

    {% if field.errors %}
    <tr>
      <td>{{field.errors}}</td>
    </tr>
    {% endif %}

    {% endfor %}
  </table>
  <input type="submit" value="Submit complaint"/>
{% comment %}
  <a href="/profiles/home">Home</a>
    {% if field.errors %}
    <tr>
      <td>{{field.errors}}</td>
    </tr>
    {% endif %}
{% endcomment %}
</form>
{% endblock %}



